<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We Find Quality Investment Opportunities</h2>
                <hr class="light">
                <p class="text-faded">In a volatile market, our mission is to make well-timed investments.  Through a unique partnered approach and fundemental anaylsis compared to market reactions, we are able to realize opportunities to recieve a significantly higher return on capital.  If you think that you have the capital or the knowledge and passion to boost returns feel free to contact us! </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
